.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 0px 0px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numberscrol {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.ani {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.hhh{
    display: block;
} 


